body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
h1 {
    font-size: 72px;
}
h1 + p {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
p {
    font-size: 36px;
}
a {
    font-size: 18px;
    text-decoration: none;
}
.grid {
    display: grid;
    width: 1450px;
    margin: 0 auto;
    grid-template-areas: "a a a a"
                        "b b c c" 
                        "d e f g" 
                        "h h i j " 
                        "l l m m";
}
.grid-item {
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item-main {
    background-image: url(../img/bg-main.png);
    height: 966px;
    grid-area: a;
}
.grid-item-red {
    background-image: url(../img/bg-red.png);
    height: 542px;
    grid-area: b;
}
.grid-item-lgray {
    background-color: #f3f1ef;
    grid-area: c;
}
.grid-item-pic1 {
    background-image: url(../img/bg-one.png);
    height: 522px;
    grid-area: d;
}
.grid-item-pic2 {
    background-image: url(../img/bg-two.png);
    height: 522px;
    grid-area: e;
}
.grid-item-pic3 {
    background-image: url(../img/PHOTO.png);
    height: 522px;
    grid-area: f;
}
.grid-item-pic4 {
    background-image: url(../img/bg-four.png);
    height: 522px;
    grid-area: g;
}
.grid-item-blue-text {
    color: #3f729b;
    grid-area: h;
}
.grid-item-pic5 {
    background-image: url(../img/bg-five.png);
    height: 522px;
    grid-area: i;
}
.grid-item-bluebg {
    grid-area: j;
}
.grid-item-blue {
    background-color: #3f729b;
    color: #fff;
}
.grid-item-green {
    background-color: #2ebd59;
    color: #fff;
    grid-area: l;
}
.grid-item-gray {
    background-color: #282b2f;
    color: #fff;
    grid-area: m;
}
